<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <span class="logo" routerLink="/">LA HOTELE</span>
    </div>
    <ul class="navbar-center">
      <li><a href="#">EXPLORE</a></li>
      <li><a href="#">OFFERS</a></li>
      <li><a href="#">BRANDS</a></li>
    </ul>
    <div class="navbar-right">
      <div class="utility-links">
        <span class="link-item"><i class="icon-globe"></i> English</span>
        <span class="link-item" routerLink="/guest/dashboard" style="cursor: pointer;">Bookings</span>
      </div>
      <div class="auth-section" *ngIf="!user">
        <span class="login-text" routerLink="/auth">Sign In or Join</span>
      </div>
      <div class="auth-section" *ngIf="user">
        <span class="welcome">
          Hi, {{ user.username }}
        </span>
        <span class="login-text" (click)="logout()">Sign Out</span>
      </div>
    </div>
  </div>
</nav>